<ngb-accordion #acc="ngbAccordion">
  <ngb-panel
    *ngFor="let accordionSample of products; let i = index"
    id="toggle-{{i+1}}"
    title="{{accordionSample.productName}}"
  >
    <ng-template ngbPanelContent>
      <div *ngFor="let dataset of accordionSample.datasets">
        <span class="py-2"> {{dataset['datasetName']}}</span>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<hr />

<button
  class="btn btn-sm btn-outline-primary mr-2"
  (click)="acc.toggle('toggle-1')"
>
  Toggle first
</button>
<button
  class="btn btn-sm btn-outline-primary mr-2"
  (click)="acc.toggle('toggle-2')"
>
  Toggle second
</button>
